.primary{
	position: relative;
	transition: -webkit-transform .5s linear 0s;
}

.portfolio-item:hover .primary{
	-webkit-transform: rotateY(180deg);
}

.secondary{
	position: absolute;
	top: 0;
	left: 0;
	transition: -webkit-transform .5s linear 0s;
	-webkit-transform: rotateY(-180deg);
}

.portfolio-item:hover .secondary{
	-webkit-transform: rotateY(0deg);
}