/*
	Put your custom CSS here
*/
/*.portfolio-item{
	transform-style: preserve-3d;
	
	-webkit-backface-visibility: hidden;
}*/
.primary{
	transition: -webkit-transform .5s linear 0s;
	position: relative;
	/*z-index: 2;*/
	-webkit-backface-visibility: hidden;
}

.portfolio-item:hover .primary{
	-webkit-transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
}

.secondary{
	position: absolute;
	top: 0;
	left: 0;
	transition: -webkit-transform .5s linear 0s;
	-webkit-transform: rotateY(-180deg);
}

.portfolio-item:hover .secondary{
	-webkit-transform: rotateY(0deg);
	-webkit-backface-visibility: hidden;
}